/* Estilos globales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
}

img {
	max-width: 100%;
}


/* HEADER - Color NAV + Fuentes */
header {
    background-color: black;
}

.nav-link {
    color: white;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: gray ; 
}

.nav-link:focus, .nav-link:hover {
    color: gray; 
}

.btn-outline-success {
    color: white ; 
    --bs-btn-border-color: white;
    --bs-btn-hover-bg: gray;
    --bs-btn-hover-border-color: white;
    --bs-btn-active-bg: gray;
}

.navbar-toggler-icon {
    background-image: white (--bs-navbar-toggler-icon-bg);
}



/* INDEX SLIDE - Estilo al carousel */
.c-item{
    font-size: 22px;
}

.c-item h5{
    font-size: 40px;
}

/* INDEX CARDS - Estilos + MQ */
.main-title {
    padding: 30px;
}

.container-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 80px;
}

.card{
    max-width: 100%;
    cursor: pointer;
}

.card-img-top{
    width: 500px;
	height: 400px;
	object-fit: cover;
} 

@media (min-width: 992px) {
    .container-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: start;
    }
}

@media (min-width: 1080px) {
    .container-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1400px) {
    .container-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1800px) {
    .container-cards {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* INDEX Estilo GIF */
.video-box{
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 100px auto 0;
    padding-bottom: 40px;
}

.video video{
    width: 100%;
    height: auto;
}

/* Estilos Footer */
.container-footer{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer{
    background-color: rgb(22, 22, 22);
    padding: 70px 0;
}

.footer-col{
    width: 25%;
    padding: 0 15px;

}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
} 

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
} 

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;

}

@media (max-width: 767px){
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px){
    .footer-col {
        width: 100%;
    }
}

/* ZAPATILLAS Logos */
.logos-zapatillas{
    padding-bottom: 20px;
}

.logos-zapatillas img{
    height: 30px;
    padding-left: 20px;
}

/* NOSOTROS Img */
.container-history{
    padding-left: 50px;
    padding-right: 50px;
}

.container-history img{
    width: 100%;
}

/* LANZAMIENTOS Video */
.video-box-lanzamiento{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: auto;
}

.video-lanzamiento video{
    width: 100%;
    height: auto;
}

/* CONTACTO Estilo */
.container-form input, select, button{
    font-size: 18px;
}

.container-form img{
    width: 100%;
}

:focus{
    outline: none;
}

.wrapper{
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner{
    padding: 20px;
    background: #fff;
    max-width: 850px;
    margin: auto;
    display: flex;
}

.inner .img-registro{
    width: 50%;
}

.inner form{
    width: 50%;
    padding-top: 36px;
    padding-left: 45px;
    padding-right: 45px;
}

.inner h3{
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    margin-bottom: 28px;
}

.form-group{
    display: flex;
}

.form-group input{
    width: 50%;
}

.form-group input:first-child{
    margin-right: 25px;
}

.form-wrapper{
    position: relative;
}

.form-control{
    border: 1px solid gray;
    border: none;
    border-bottom: 1px solid gray;
    display: block;
    width: 100%;
    height: 30px;
    padding-right: 0;
    margin-bottom: 25px;
}

.container-form select{
    cursor: pointer;
}

.container-form select option[value=""][disabled]{
    display: none;
} 

.container-form button{
    border: none;
    width: 164px;
    height: 51px;
    margin: auto;
    margin-top: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    background-color: #a72a68;
    font-size: 15px;
    color: #fff;
}

@media (max-width: 767px){
    .inner{
        display: block;
    }
    .inner .img-registro{
        width: 100%;
    }
    .inner form{
        width: 100%;
        padding: 40px 0 30px;
    }
    .container-form button{
        margin-top: 60px;
    }
}